body{
    background-image: url(../img/background.jpg);
}

#logo{
    font-size: 30px;
    color:rgb(106, 90, 205);
    font-family:Matura MT Script Capitals;
    text-decoration:none;
}

#home{
    font-size: 20px;
}

html {
    scroll-behavior: smooth;
  }